body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    height: 50px;
    width: auto;
}

/* Center the logo on mobile and stack the text below it */
@media (max-width: 768px) {
    header {
        justify-content: center; /* Center the content in the header */
        flex-direction: column; /* Arrange content in a column */
        text-align: center; /* Center-align the text inside the header */
    }

    .logo {
        margin-bottom: 10px; /* Add some space below the logo */
    }
}

.category {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
.category h2 {
    cursor: pointer;
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.category h2::before {
    content: "+";
    position: absolute;
    right: 20px;
    font-size: 20px;
    color: #555;
}
.category.open h2::before {
    content: "-";
}
.subcategory {
    display: none;
    padding-left: 20px;
}
.subcategory a {
    display: block;
    padding: 5px 0;
}
